.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

body {
  background-image: url('/static/mahjongbg.jpeg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}